/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .nav a, .nav li, .card{
    float: none;
    display: block;
  }
}

nav {    
  display: block;
  text-align: center;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  float: center;
}
nav ul {
  list-style: none;
  text-decoration: none;

}
.nav a {
  display: block; 
  background: #f1ac2e; 
  color: white; 
  text-decoration: none;
  padding: 0.8em 1.8em;
  text-transform: uppercase;
  position: relative;
}
.nav{  
  vertical-align: top; 
  display: inline-block;
  border-radius: 6px;
}
.nav li {
  position: relative;
  min-width: 180px;
}
.nav > li { 
  float: left; 
  border-bottom: 4px white solid; 
  margin-right: 1px; 
  text-decoration: none;
} 
.nav > li > a { 
  margin-bottom: 1px;
}

.nav > li > a:hover { 
 font-weight:bold;
 background: #f3a313;

}
.nav > li:hover { 
  border-bottom-color: orange;
}

.nav li li a { 
  margin-top: 1px;
}
.nav li a:first-child:nth-last-child(2):before { 
  content: ""; 
  position: absolute; 
  height: 0; 
  width: 0; 
  text-decoration: none;
  border: 5px solid transparent; 
  top: 50% ;
  right: 5px;  
 }
/* submenu positioning*/
.nav ul {
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  left: -99999em;
}
.nav > li:hover > ul {
  left: auto;
  margin-top: 0px;
  min-width: 100%;
}
.nav > li li:hover > ul { 
  left: 100%;
  margin-left: 1px;
  top: -1px;
}
/* arrow hover styling */
.nav > li > a:first-child:nth-last-child(2):before { 
  border-top-color: white; 
}
.nav > li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent; 
  border-bottom-color: white; 
  margin-top:-5px
}
.nav li li > a:first-child:nth-last-child(2):before {  
  border-left-color: white; 
  margin-top: -5px
}
.nav li li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent; 
  border-right-color: white;
  right: 10px; 
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  margin: auto;
  text-align: center;
  font-family: arial;
  max-height: 800px;
  padding:50px;
  display: inline-block;
}
.price {
  color: grey;
  font-size: 22px;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card button:hover {
  opacity: 0.7;
}
input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 40%;
}
.footer {
   position:fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   margin: auto;
   display: block;
}
